---
layout: basic
title: Categories
---

<main class="container">

  <section class="archive center">
      <h1 class="post-title">{{ page.title }}</h1>
      <div  class="archive-list">
      {% for category in site.categories %}
        <h2 id="{{category | first | downcase}}">{{category | first}}</h2>
        <ul>
        {% for posts in category  %}
        {% for post in posts %}
        {% if post.url %}
        <li>
          <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <time>{{ post.date | date:"%F" }}</time>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </ul>
      {% endfor %}
      </div>
  </section>

</main>