  <div class="sidebar-area">

    <article class="card-area">
      <a href="#" class="card">
        <div class="card-image" style="background-image: url(images/1.jpg)"></div>
        <div class="card-content">

          <header class="card-title">
            <h1>Lorem ipsum dolor sit</h1>
          </header>

          <section class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam exercitationem omnis eaque, ut officiis sint eligendi mollitia, in saepe!</p>
          </section>
        </div>
      </a>
    </article>


    <article class="card-area">
      <a href="#" class="card">
        <div class="card-image" style="background-image: url(images/2.jpg)"></div>
        <div class="card-content">

          <header class="card-title">
            <h1>Lorem ipsum dolor sit.</h1>
          </header>

          <section class="card-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam exercitationem omnis eaque, ut officiis sint eligendi mollitia, in saepe!</p>
          </section>
        </div>
      </a>
    </article>

  </div>