<div class="pt-gallery clearfix">
  <ul>
      <li><a href="#"><img class="gallery-pt" src="assets/img/gallery/arrival_of_the_normandy_train_gare_saint-lazare.png"></a></li>
			<li><a href="#"><img class="gallery-pt" src="assets/img/gallery/saint_lazare_in_paris_saint_lazare_in_paris.png"></a></li>
			<li><a href="#"><img class="gallery-pt" src="assets/img/gallery/gare_saint-lazare_gare_saint-lazare.png"></a></li>
			<li><a href="#"><img class="gallery-pt" src="assets/img/gallery/train_in_the_snow.png"></a></li>
			<li class="xs-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/rain_steam_and_speed_–_the_great_western_railway_rain_steam_and_speed_–_the_great_western_railway.png"></a></li>
			<li class="xs-hidden sm-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/impression_sunrise.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/the_beach_at_sainte-adresse_the_beach_at_sainte-adresse.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/steamboat_leaving_boulogne.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/three_fishing_boats.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/keelmen_heaving_in_coals_by_moonlight_keelmen_heaving_in_coals_by_moonlight.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/the_fighting_temeraire_the_fighting_temeraire.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="assets/img/gallery/peace_burial_at_sea_of_the_body_of_sir_david_wilkie.png"></a></li>
  </ul>
</div> <!-- End of Gallery -->
