<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="{{ page.description | default: site.description | smartify }}">
<title>
  {%- if page.title -%}
    {{ page.title | smartify }} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }} · {{ site.description | smartify }}
  {%- endif -%}
</title>
<link href="{{ site.baseurl }}/assets/css/owlzone.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-113141331-1', 'owlzone.org');
  ga('send', 'pageview');
</script>
<!-- favicons -->
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#404040">