  <div class="post-area">
    <ul>
      {% for post in paginator.posts %}
      <li>
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        <div class="label">

        </div>

        <div class="excerpt">
          {{ post.excerpt }}
        </div>

        <div class="read-more">
          <a  href="{{ post.url }}">Read More</a>
        </div>

        <hr>
      </li>
      {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
      {% else %}
        <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
        <span class="previous disable"><i class="fa fa-angle-left"></i></span>
      {% endif %}
      <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
        <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
      {% else %}
        <span class="next disable"><i class="fa fa-angle-right"></i></span>
        <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
      {% endif %}
    </div>
  </div>