
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General CSS styles */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: Trebuchet MS, Futura, "Microsoft Yahei", Arial, sans-serif;
	text-align: left;
	line-height: 1;
	background-color: #ccc;
}

::selection {
	background-color: #add8e6;
}

a::selection {
	color: #222;
}

a {
	outline: none;
	text-decoration: none;
	color: #03a9f4;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

a:link {
	color: #1863a1;
}

a:visited {
	color: #751590;
}

a:focus, a:hover {
	color: #0181eb;
	text-decoration: underline;
}

a:active {
	color: #f05230;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Times, "Microsoft Yahei", sans-serif;
	text-rendering: optimizelegibility;
	line-height: 1;
	margin-bottom: 1em;
	font-weight: bold;
	letter-spacing: -0.02em;
}

h1 {
	font-size: 3.2rem;
}

@media (max-width: 500px) {
	h1 {
		font-size: 3rem;
	}
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 2.0rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

ul {
	padding-left: 20px;
}

ol {
	padding-left: 20px;
}

img:not(.gallery-pt) {
	max-width: 100%;
}

blockquote {
	quotes: "\201C""\201D""\2018""\2019";
	background: #eee;
	border-left: 5px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-size: 0.95em;
}

blockquote p {
	display: inline;
}

pre {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace, serif;
	position: relative;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	min-width: 100%;
	max-height: 450px;
	line-height: 1.5;
	font-size: 14px;
	background: #eee;
	padding: 0;
	padding-left: 10px;
	padding-top: 20px;
	border-radius: 4px;
} 

pre[rel]::before {
	font-size: 1.4rem;
	content: attr(rel);
	color: white;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	background: #4caf50;
	padding: 0;
	text-indent: 10px;
}

pre[rel="HTML"]::before, pre[rel="html"]::before {
	background: #4caf50;
}

pre[rel="CSS"]::before, pre[rel="css"]::before {
	background: #ff9800;
}

pre[rel="JavaScript"]::before, pre[rel="jQuery"]::before  {
	background: #1863a1;
}

code {
	background: #ccc;
	padding: 0 5px 2px;
	border-radius: 2px;
	position: relative;
	top: -1px;
	margin: 0 3px 0 1px;
	font-size: 90%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;	
}

#wrapper {
	margin: 0 auto;
	width: 980px;
	background-color: #fff;
}

/* Top header styles */
#main-header {
	position: relative;
	height: 50px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}

#oz-logo {
	position: absolute;
	height: 50px;
	width: 140px;
}

#oz-logo a {
	display: block;
	padding: 10px 14px;
	width: 140px;
	height: 50px;
}

#oz-logo g {
	fill: #444444;
	stroke: #444444;
	stroke-width: 0.15mm;
}

#oz-logo svg:hover g {
	fill: #81b2df;
	stroke: #81b2df;
}

.search-box .search {
	position: absolute;
	top: 13px;
	right: 14px;
}

.search-box .search input {
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	float: right;
	width: 150px;
	height: 24px;
	padding: 2px 6px;
	font-family: "Microsoft Yahei", Arial, sans-serif;
	background-color: #f0f1f2;
	color: #21242c;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

.search-box .search input:focus {
	width: 200px;
	background-color: #fff;
	border-color: #81b2df;
	-webkit-box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
	-moz-box-shadow: #81b2df 0 0 4px,#81b2df 0 0 3px inset;
	box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
}

.search-box .search input:hover {
	color: #707070;
}

#main-header .nav-menu {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	line-height: 1.4;
}

.nav-menu > ul {
	display: inline-block;
}

.nav-menu li {
	float: left;
	list-style-type: none;
	position: relative;
}

.nav-menu li a {
	display: block;
	padding: 16px 10px 12px;
	font-family: Verdana, "Microsoft Yahei", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	text-align: left;
	color: #21242c;
	text-decoration: none;
}

.nav-menu li:hover a {
	color: #81b2df;
	border-bottom: 3px solid #81b2df;
}

.normal-menu {
	float: right;
	position: absolute;
	right: 14px;
	top: 18px;
}

.dropdown-menu {
	float: right;
	position: absolute;
	right: 14px;
	top: 16px;
}

.search-scope {
	position: absolute;
	top: 16px;
	right: 45px;
}

.collapse-search {
	position: absolute;
	top: 16px;
	right: 45px;
}

.normal-menu, .dropdown-menu, .search-scope, .collapse-search {
	display: none;
}

/* Main container styles */
#main-container {
	overflow: hidden;
	background-color: #f2f2f2;
}

/* Photo gallery styles */
.pt-gallery {
	position: relative;
	left: 10%;
	width: 80%;
	margin: 14px 0;
}

.pt-gallery ul {
	overflow: hidden;
	display: flex;
	padding: 0;
	margin: 0 -45px;
}

.pt-gallery ul li {
	float: left;
	flex: auto;
	overflow: hidden;
	list-style: none;
	padding: 0;
	height: 150px;
	position: relative;
	transition: flex .2s .1s;
}

.pt-gallery ul li:hover {
	flex: 2.5;
}

.pt-gallery img {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translate(-50%, 0);
}

/* Recent post styles */
.recent-post {
	float: left;
	width: 70%;
	background: #fbfbfb;
	padding: 14px;
	text-align: left;
	line-height: 1.7;
	color: #222;
}

.recent-post .post-title {
	font-family: "Lato", "Microsoft Yahei", Arial, sans-serif;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	color: #222;
}

.recent-post .post-title h1 {
	padding: 0;
	margin: 0;
}

.recent-post .post-title:hover {
	color: #0181eb;
}

.recent-post .post-meta {
	color: #aaa;
	padding: 1rem 0;
	font-weight: bold;
}

.recent-post p {
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}

/* Sidebar area styles */
.sidebar-area {
	float: right;
	width: 30%;
	padding: 0 1em;
}

.card-area {
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
	border-radius: 2px;
	margin-bottom: 14px;
	box-shadow: 1px -1px 3px #999, -1px 1px 3px #999;
}

.card-area:hover {
	border: 3px solid #aaa;
}

.card-area .card {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	transition: all .25s ease-in-out;
}

.card, .card:link, .card:visited, .card:focus, .card:hover, .card:active {
	text-decoration: none;
}

.card-area .card-image {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	flex: 0 0 auto;
}

.card-area .card-content {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	overflow: hidden;
}

.card-content header {
	padding: 1rem .5rem;
	color: #444;
	border-bottom: 1px solid #999;
}

.card-content header h1 {
	margin: 0;
	font-size: 2.0rem;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

.card-area:hover header h1 {
	color: #aaa;
}

.card-content section {
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding: 0 0.5rem;
	color: #444;
}

/* Bottom footer styles */
#footer-area {
	position: relative;
	overflow: hidden;
	height: 4rem;
	font-size: 1.3rem;
	background-color: #aaa;
	color: #444;
}

#footer-area a {
	color: #444;
}
#footer-area div:nth-child(1) {
	position: absolute;
	float: left;
	left: 10px;
	top: 20px;
}

#footer-area div:nth-child(2) {
	position: relative;
	top: 8px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#footer-area div:nth-child(3) {
	position: absolute;
	float: right;
	right: 10px;
	top: 10px;
}

#footer-area div a {
	display: inline-block;
	position: relative;
	top: 10px;
	padding: 0px 5px 0px;
}

#footer-area div a svg {
	width: 16px;
	height: 16px;
}

#footer-area .github-svg:hover {
	fill: #FFFFFF;
}

#footer-area .twitter-svg:hover {
	fill: #1DA1F2;
}

#footer-area .email-svg:hover {
	fill: #DC4E41;
}

@media only screen and (max-width: 980px) {
	#wrapper {
		width: 100%;
		margin: 0;
	}

	#main-container .recent-post {
		float: none;
		width: auto;
	}

	#main-container .sidebar-area {
		float: none;
		width: auto;
		padding-top: 14px;
	}

	.card-area:first-child {
		float: left;
		width: 49%;
	}

	.card-area:last-child {
		float: right;
		width: 49%;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}

	.card-area .card-content section {
		padding-top: 1rem;
	}

}

@media only screen and (max-width: 768px) {
	#main-header .nav-menu {
		display: none;
	}

	.normal-menu, .search-scope {
		display: block;
	}

	.dropdown-menu {
		display: none;
	}
	
	.search-box {
		display: none;
	}
	
	#main-header .nav-menu {
		position: absolute;
		top: 50px;
		width: 100%;
		opacity: 1;
		z-index: 5000 !important;
	}

	#main-header .nav-menu ul {
		width: 100%;
		padding: 0 0 13px;
		padding-bottom: 13px;
		background-color: #eee;
	}

	#main-header .nav-menu li {
		width: 100%;
		list-style-type: none;
		position: relative;
		
	}

	#main-header .nav-menu li a {
		display: inline-block;
		margin: 5px auto;
		padding: 5px 5px 5px;
		font-size: 1.5rem;
	}

	.search-box .search {
		position: absolute;
		right: 70px;
	}

	.card-area:first-child {
		width: 49.5%;
	}

	.card-area:last-child {
		width: 49.5%;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}
	
	.md-hidden {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.sm-hidden {
		display: none;
	}

	.card-area:first-child, .card-area:last-child {
		float: none;
		width: 80%;
		margin: 0 10% 14px;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}
}

@media only screen and (max-width: 410px) {
	.hide-logo {
		display: none;
	}

	.show-logo {
		display: block;
	}

	.xs-hidden {
		display: none;
	}

	.card-area:first-child, .card-area:last-child {
		width: 100%;
		margin: 0 0 14px;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}
}
