/*
 * Setup
 */
 a,abbr,address,article,aside,audio,
 b,blockquote,body,canvas,caption,cite,
 code,dd,del,details,dfn,div,dl,dt,em,
 fieldset,figcaption,figure,footer,
 form,h1,h2,h3,h4,h5,h6,header,hgroup,
 hr,html,i,iframe,img,ins,kbd,label,
 legend,li,mark,menu,nav,object,ol,p,
 pre,q,samp,section,small,span,strong,
 sub,summary,sup,table,tbody,td,tfoot,
 th,thead,time,tr,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/*
 * Base
 */
body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,"Microsoft Yahei",sans-serif;;
	line-height: 1.5;
  background: #eee;
}

::selection { background-color: #add8e6; }
a::selection { color: #222; }

a {
	color: #1863a1;
	text-decoration: none;
	outline: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
/* a:link { color: #1863a1; } */
/* a:visited { color: #751590; } */
a:focus,
a:hover {
	color: #0181eb;
	text-decoration: underline;
}
a:active { color: #f05230; }

li { list-style-type: none; }

hr {
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

p { margin: 1em 0; }


/*
 * Layout
 */
.constrained {
  max-width: 980px;
  margin: 0 auto;
}
.center {
  padding-left: 16px;
  padding-right: 16px;
}

/*
 * helpers
 */



/*
 * Header
 */
.header {
  position: relative;
  height: 320px;
}

@media (max-width: 768px) {
	.header {
		height: 250px;
	}
}


/* background */
.header-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.has-custom-image {
	background-image: url("http://owlzone.org/assets/img/owl-and-rat.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.opacity-mask {
    opacity: 0;
    background-color: rgb(106,141,166);
}


/* Topbar */
.header-topbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgb(106,141,166);
	z-index: 100;
}
.topbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}
.header-topbar:not(.topbar-shadow) {
	background-color: transparent !important;
}
.header-wrapper {
	position: relative;
}


/* Logo */
.logo {
	position: absolute;
	display: block;
	width: 120px;
	line-height: 1;
	padding: 10px 0;
}
.logo svg {
	fill: #fff;  /* #444444 */
	stroke: #fff;
	stroke-width: 0.15mm;
}
.logo svg:hover {
	fill: #81b2df;
	stroke: #81b2df;
}

@media (max-width: 410px) {
	.logo-responsive { display: none; }
}


/* Nav */
.header-wrapper > nav {
	height: 50px;
}
.nav-main {
	display: inline-block;
}
.nav-main-item {
	position: relative;
	float: left;
	line-height: 1.4;
	list-style-type: none;
}
.nav-main-item a {
	display: block;
	padding: 16px 10px 12px;
	font-family: "Segoe UI", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
}
.nav-main-item:hover a {
	color: #81b2df;
}
.nav-icon {
	position: absolute;
	display: none;
	right: 16px;
	height: 50px;
}
.nav-icon > svg {
	margin: 18px 0;
}

@media (max-width: 768px) {
	.nav-main {
		position: absolute;
		top: 46px;
		right: 9px;
		z-index: 1000 !important;
		display: block;
		width: 150px;
		padding: 0 14px;
		border-radius: 2px;
		text-align: left;
		background-color: #fff;
		box-shadow: 0 1px 8px rgba(0,0,0,.2);
		transform: scale(0);
		transform-origin: top right;
		transition: transform .4s cubic-bezier(0.23,1,.32,1);
	}
	.nav-dropdown {
		transform: scale(1);
	}
	.nav-main:before {
		content: "";
		position: absolute;
		right: 9px;
		top: -6px;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
	}
	.nav-main-item {
		position: relative;
		width: 100%;
		list-style-type: none;
	}
	.nav-main-item a {
		display: inline-block;
		margin: 5px auto;
		padding: 5px 5px 5px;
		color: #21242c;
  }
  .nav-main-item:hover a { border-bottom: none; }
	.nav-icon { display: block; }
}


/* Search */
.search-field {
	position: absolute;
	top: 13px;
	right: 16px;
}
.search-field input {
	width: 150px;
	height: 24px;
	padding: 2px 6px;
	font-family: "Segoe UI", "Microsoft Yahei", Arial, sans-serif;
	color: #21242c;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	background-color: rgba(255,255,255,0.3);
	border: none;
	border-radius: 4px;
	outline: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search-field input:focus {
	width: 200px;
	background-color: #fff;
	border-color: #81b2df;
	-webkit-box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
	-moz-box-shadow: #81b2df 0 0 4px,#81b2df 0 0 3px inset;
	box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
}
.search-field input:hover { color: #707070; }
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.search-scope,
.search-close {
	position: absolute;
	right: 45px;
	top: 0;
	height: 50px;
}
.search-scope > svg,
.search-close > svg {
	margin: 16px 0;
}
.search-scope,
.search-close { display: none; }

@media (max-width: 768px) {
	.search-field {
    position: absolute;
    right: 70px;
    display: none;
	}
	.search-scope,
	.search-visible { display: block; }
	.search-hidden { display: none; }
}



/*
 * Footer
 */
.footer {
  height: 48px;
  text-align: center;
	font-size: 13px;
	color: #444;
	background-color: #aaa;
}
.footer > div {
	position: relative;
}
.footer a { color: #444; }
.copyright {
	position: absolute;
	top: 16px;
	left: 16px;
}
.terms {
	position: absolute;
	top: 16px;
	right: 16px;
}
.footer .media-link {
  display: inline-block;
  height: 48px;
	padding: 0px 5px 0px;
}
.footer .media-link svg {
  position: relative;
  top: 18px;
	width: 16px;
	height: 16px;
}
.footer .github-svg:hover { fill: #FFFFFF; }
.footer .twitter-svg:hover { fill: #1DA1F2; }
.footer .email-svg:hover { fill: #DC4E41; }



/*
 * Container
 */
.container {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*
 * Gallery
 */
.img-gallery {
	position: relative;
	width: 80%;
	margin: 14px auto;
}
.img-gallery ul {
	overflow: hidden;
	display: flex;
	padding: 0;
	margin: 0 -45px;
}
.img-gallery ul li {
	position: relative;
	float: left;
	overflow: hidden;
	flex: auto;
	list-style: none;
	padding: 0;
	height: 150px;
	transition: flex .2s .1s;
}
.img-gallery ul li:hover { flex: 2.5; }
.img-gallery img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	height: 100%;
	transform: translate(-50%, 0);
}



/* Post area */
.post-area {
	float: left;
	width: 70%;
	padding-right: 16px;
	text-align: left;
	color: #222;
}

.post-area li {
	position: relative;
	margin-bottom: 20px;
	padding: 16px;
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.1) inset;
}

.post-area hr {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,0.2), rgba(0,0,0,0))
}

.post-date {
	color: #aaa;
	font-weight: bold;
}

.post-area .post-title {
	line-height: 1.2;
}
.post-title:hover {
	color: #0181eb;
}
.post-title a {
	text-decoration: none;
}

.ribbon {
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}

.ribbon span {
	position: absolute;
	top: 19px;
	right: -21px;
	font-size: .7rem;
	font-weight: bold;
	color: #2b2b2b;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	width: 100px;
	display: block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.ribbon span:before,
.ribbon span:after {
	content: "";
	position: absolute;
	top: 100%;
	z-index: -1;
	border-width: 3px;
	border-style: solid;
}

.ribbon span:before {
	left: 0;
	border-left-color: rgba(0,0,0,.1);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-top-color: rgba(0,0,0,.1);
}

.ribbon span:after {
	right: 0;
	border-left-color: transparent;
	border-right-color: rgba(0,0,0,.1);
	border-bottom-color: transparent;
	border-top-color: rgba(0,0,0,.1);
}

/* Pagination */
.pagination {
	position: relative;
	top: -20px;
	border-top: 1px dashed #666;
	color: #666;
	line-height: 3;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.1) inset;
}
.pagination .previous {
	position: absolute;
	left: 16px;
}
.pagination .next {
	position: absolute;
	right: 16px;
}
.pagination .previous:hover,
.pagination .next:hover {
	color: #1863a1;
	text-decoration: none;
}
.pagination .previous:visited,
.pagination .next:visited {
	color: #666;
}
.page-number:before,
.page-number:after {
	content: '\2014';
	padding: 0 .3em;
}


/* Widget area */
.widget-area {
	float: right;
	width: 30%;
	background-color: #f4f4f4;
	padding: 16px;
}
@media (max-width: 980px) {
	.post-area {
		float: none;
		width: auto;
	}
	.widget-area {
		float: none;
		width: auto;
	}
}
.widget:not(:last-child) {
	margin-bottom: 40px;
}
.widget-title {
	margin-bottom: 6px;
	padding-bottom: 6px;
	margin-top: 12px;
	border-bottom: 1px solid #ccc;
}
.widget a {
	text-decoration: none;
}
@media (max-width: 980px) {
	.widget-title {
		text-align: center;
	}
	.widget li {
		display: inline-block;
	}
}

.post-category {
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}
.post-category ul {
	line-height: 2;
}
.post-category li {
	position: relative;
}
.post-category li:before {
	content: "";
	width: 2px;
	height: 8px;
	background-color: #D6D8DA;
	position: absolute;
	left: 9px;
	bottom: -2px;
}
.post-category li:after {
	content: "";
	width: 2px;
	height: 8px;
	background-color: #D6D8DA;
	position: absolute;
	left: 9px;
	bottom: 25px;
}
.post-category li a {
	padding-left: 10px;
}
.post-category .circle-svg {
	position: relative;
	top: 5px;
}
.post-category li:hover .svg-path {
	animation: dash .7s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 980px) {
	.circle-svg,
	.post-category li:before,
	.post-category li:after {
		display: none;
	}
	.post-category {
		border-bottom: none;
	}
	.post-category ul,
	.tag-cloud {
		max-width: 600px;
		margin: auto;
		text-align: center;
	}
	.post-category li a {
    padding-left: 0;
	}
}

/* post content css */
.post-content {
	max-width: 780px;
	margin: auto;
	text-align: left;
}
.post-content .post-title {
	font-size: 2em;
	text-align: center;
	color: #222;
}
.post-content .post-meta {
	text-align: center;
	color: #aaa;
	padding: 1em 0;
	font-weight: bold;
}


/* Archive page  */
.archive {
	max-width: 780px;
	margin: auto;
	text-align: left;
}
.archive h1 {
	font-size: 2em;
	text-align: center;
}
.archive h2 {
	margin: 40px 0 25px -20px;
	border-bottom: 1px solid #ccc;
}
.archive ul {
	margin-left: 10px;
	color: #888888;
}
.archive li {
	list-style-type: disc;
}
.archive li:hover {
	background-color: rgba(0,0,0,.03);
	transition: all .3s ease-in-out;
}
.archive li time {
	padding-right: 16px;
	font-size: 1em;
}
.archive .title {
	font-weight: bold;
	color: #666;
	transition: all 0.3s ease;
	font-size: 1.1em;
	text-decoration: none;
}
.archive .title:hover {
	color: #0181eb;
}