/*
 * Setup
 */
 a,abbr,address,article,aside,audio,
 b,blockquote,body,canvas,caption,cite,
 code,dd,del,details,dfn,div,dl,dt,em,
 fieldset,figcaption,figure,footer,
 form,h1,h2,h3,h4,h5,h6,header,hgroup,
 hr,html,i,iframe,img,ins,kbd,label,
 legend,li,mark,menu,nav,object,ol,p,
 pre,q,samp,section,small,span,strong,
 sub,summary,sup,table,tbody,td,tfoot,
 th,thead,time,tr,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/*
 * Base
 */
body {
  font-family: "Trebuchet MS", "Microsoft Yahei", Arial, sans-serif;
	line-height: 1.5;
  background: #eee;
}

::selection { background-color: #add8e6; }
a::selection { color: #222; }

a {
	color: #03a9f4;
	text-decoration: none;
	outline: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
a:link { color: #1863a1; }
a:visited { color: #751590; }
a:focus,
a:hover {
	color: #0181eb;
	text-decoration: underline;
}
a:active { color: #f05230; }

hr {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
}


/*
 * Layout
 */
.constrained {
  max-width: 980px;
  margin: 0 auto;
}
.center {
  padding-left: 16px;
  padding-right: 16px;
}



/*
 * Header
 */
.site-header {
  position: relative;
  height: 320px;
}

@media (max-width: 768px) {
	.site-header {
		height: 250px;
	}
}


/* background */
.header-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.has-custom-image {
  background-image: url("assets/img/owl-and-rat.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.opacity-mask {
    opacity: 0;
    background-color: rgb(106,141,166);
}


/* Topbar */
.header-topbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgb(106,141,166);
	z-index: 100;
}
.topbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}
.header-topbar:not(.topbar-shadow) {
	background-color: transparent !important;
}
.header-wrapper {
	position: relative;
}


/* Logo */
.logo {
	position: absolute;
	display: block;
	width: 120px;
	line-height: 1;
	padding: 10px 0;
}
.logo svg {
	fill: #fff;  /* #444444 */
	stroke: #fff;
	stroke-width: 0.15mm;
}
.logo svg:hover {
	fill: #81b2df;
	stroke: #81b2df;
}

@media (max-width: 410px) {
	.logo-responsive { display: none; }
}


/* Nav */
.header-wrapper > nav {
	height: 50px;
}
.nav-main {
	display: inline-block;
}
.nav-main-item {
	position: relative;
	float: left;
	line-height: 1.4;
	list-style-type: none;
}
.nav-main-item a {
	display: block;
	padding: 16px 10px 12px;
	font-family: "Segoe UI", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	color: #fff;   /* #21242c */
	text-decoration: none;
}
.nav-main-item:hover a {
	color: #81b2df;
}
.nav-icon {
	position: absolute;
	display: none;
	right: 16px;
	height: 50px;
}
.nav-icon > svg {
	margin: 18px 0;
}

@media (max-width: 768px) {
	.nav-main {
		position: absolute;
		top: 46px;
		right: 9px;
		z-index: 1000 !important;
		display: block;
		width: 150px;
		padding: 0 14px;
		border-radius: 2px;
		text-align: left;
		background-color: #fff;
		box-shadow: 0 1px 8px rgba(0,0,0,.2);
		transform: scale3D(0, 0, 1);
		transform-origin: top right;
		transition: transform .4s cubic-bezier(0.23,1,.32,1);
	}
	.nav-dropdown {
		transform: scale3D(1, 1, 1);
	}
	.nav-main:before {
		content: "";
		position: absolute;
		right: 9px;
		top: -6px;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
	}
	.nav-main-item {
		position: relative;
		width: 100%;
		list-style-type: none;
	}
	.nav-main-item a {
		display: inline-block;
		margin: 5px auto;
		padding: 5px 5px 5px;
		color: #21242c;
  }
  .nav-main-item:hover a { border-bottom: none; }
	.nav-icon { display: block; }
}


/* Search */
.search-field {
	position: absolute;
	top: 13px;
	right: 16px;
}
.search-field input {
	width: 150px;
	height: 24px;
	padding: 2px 6px;
	font-family: "Segoe UI", "Microsoft Yahei", Arial, sans-serif;
	color: #21242c;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	background-color: rgba(255,255,255,0.3);
	border: none;
	border-radius: 4px;
	outline: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search-field input:focus {
	width: 200px;
	background-color: #fff;
	border-color: #81b2df;
	-webkit-box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
	-moz-box-shadow: #81b2df 0 0 4px,#81b2df 0 0 3px inset;
	box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
}
.search-field input:hover { color: #707070; }
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.search-scope,
.search-close {
	position: absolute;
	right: 45px;
	top: 0;
	height: 50px;
}
.search-scope > svg,
.search-close > svg {
	margin: 16px 0;
}
.search-scope,
.search-close { display: none; }

@media (max-width: 768px) {
	.search-field {
    position: absolute;
    right: 70px;
    display: none;
	}
	.search-scope,
	.search-visible { display: block; }
	.search-hidden { display: none; }
}



*
 * Footer
 */

#main-footer {
	position: relative;
  height: 48px;
  text-align: center;
	font-size: 1.3rem;
	color: #444;
	background-color: #aaa;
}
#main-footer a { color: #444; }
#main-footer div:first-child {
	position: absolute;
	left: 10px;
	top: 20px;
}
#main-footer div:last-child {
	position: absolute;
	right: 10px;
	top: 20px;
}
#main-footer .media-link {
  display: inline-block;
  height: 48px;
	padding: 0px 5px 0px;
}
#main-footer .media-link svg {
  position: relative;
  top: 18px;
	width: 16px;
	height: 16px;
}
#main-footer .github-svg:hover { fill: #FFFFFF; }
#main-footer .twitter-svg:hover { fill: #1DA1F2; }
#main-footer .email-svg:hover { fill: #DC4E41; }



/*
 * Container
 */

 #main-container {
	overflow: hidden;
	background-color: #f2f2f2;
}


/*
 * Gallery
 */

.img-gallery {
	position: relative;
	width: 80%;
	margin: 14px auto;
}
.img-gallery ul {
	overflow: hidden;
	display: flex;
	padding: 0;
	margin: 0 -45px;
}
.img-gallery ul li {
	position: relative;
	float: left;
	overflow: hidden;
	flex: auto;
	list-style: none;
	padding: 0;
	height: 150px;
	transition: flex .2s .1s;
}
.img-gallery ul li:hover { flex: 2.5; }
.img-gallery img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	height: 100%;
	transform: translate(-50%, 0);
}



/* Recent post styles */
.recent-post {
	float: left;
	width: 70%;
	background: #fbfbfb;
	padding: 14px;
	text-align: left;
	line-height: 1.7;
	color: #222;
}

.recent-post .post-title {
	font-family: ""Trebuchet MS"", "Microsoft Yahei", Arial, sans-serif;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	color: #222;
}

.recent-post .post-title h1 {
	padding: 0;
	margin: 0;
}

.recent-post .post-title:hover {
	color: #0181eb;
}

.recent-post .post-meta {
	color: #aaa;
	padding: 1rem 0;
	font-weight: bold;
}

.recent-post p {
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}

/* Sidebar area styles */
.sidebar-area {
	float: right;
	width: 30%;
	padding: 0 1em;
}

.card-area {
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
	border-radius: 2px;
	margin-bottom: 14px;
	box-shadow: 1px -1px 3px #999, -1px 1px 3px #999;
}

.card-area:hover {
	border: 3px solid #aaa;
}

.card-area .card {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	transition: all .25s ease-in-out;
}

.card, .card:link, .card:visited, .card:focus, .card:hover, .card:active {
	text-decoration: none;
}

.card-area .card-image {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	flex: 0 0 auto;
}

.card-area .card-content {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	overflow: hidden;
}

.card-content header {
	padding: 1rem .5rem;
	color: #444;
	border-bottom: 1px solid #999;
}

.card-content header h1 {
	margin: 0;
	font-size: 2.0rem;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

.card-area:hover header h1 {
	color: #aaa;
}

.card-content section {
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding: 0 0.5rem;
	color: #444;
}



@media (max-width: 980px) {

	.recent-post {
		float: none;
		width: auto;
	}

	.sidebar-area {
		float: none;
		width: auto;
		padding-top: 14px;
	}

	.card-area:first-child {
		float: left;
		width: 49%;
	}

	.card-area:last-child {
		float: right;
		width: 49%;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}

	.card-area .card-content section {
		padding-top: 1rem;
	}

}

@media (max-width: 768px) {
	.card-area:first-child {
		width: 49.5%;
	}

	.card-area:last-child {
		width: 49.5%;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}

}

@media (max-width: 600px) {
	.card-area:first-child, .card-area:last-child {
		float: none;
		width: 80%;
		margin: 0 10% 14px;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}
}

@media (max-width: 410px) {

	.card-area:first-child, .card-area:last-child {
		width: 100%;
		margin: 0 0 14px;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}
}

/* post content css */
.post-content {
	width: 100%;
	padding: 5%;
	text-align: left;
	line-height: 1.7;
	color: #222;
}

.post-content .post-title {
	font-family: "Trebuchet MS", "Microsoft Yahei", Arial, sans-serif;
	text-align: center;
	font-size: 3rem;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	color: #222;
}

.post-content .post-meta {
	text-align: center;
	color: #aaa;
	padding: 1rem 0;
	font-weight: bold;
}

.post-content .post-title span {
	position: relative;
}

.post-content .post-title span:hover {
	color: #0181eb;
}

.post-content .post-title span:before {
	content: "\2993";
	position: absolute;
	left: -26px;
	top: 0;
	transition: all .5s ease-in-out 0s;
	transform: scaleX(0);
	visibility: hidden;
}

.post-content .post-title span:after {
	content: "\2994";
	position: absolute;
	top: 0;
	right: -26px;
	transition: all .5s ease-in-out 0s;
	transform: scaleX(0);
	visibility: hidden;
}

.post-content .post-title span:hover:before, .post-content .post-title span:hover:after {
	visibility: visible;
	transform: scaleX(1);
}

.post-content p {
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}