/*
 * Container
 */

#main-container {
	overflow: hidden;
	background-color: #f2f2f2;
}


/*
 * Gallery
 */

.img-gallery {
	position: relative;
	width: 80%;
	margin: 14px auto;
}
.img-gallery ul {
	overflow: hidden;
	display: flex;
	padding: 0;
	margin: 0 -45px;
}
.img-gallery ul li {
	position: relative;
	float: left;
	overflow: hidden;
	flex: auto;
	list-style: none;
	padding: 0;
	height: 150px;
	transition: flex .2s .1s;
}
.img-gallery ul li:hover { flex: 2.5; }
.img-gallery img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	height: 100%;
	transform: translate(-50%, 0);
}



/* Recent post styles */
.recent-post {
	float: left;
	width: 70%;
	background: #fbfbfb;
	padding: 14px;
	text-align: left;
	line-height: 1.7;
	color: #222;
}

.recent-post .post-title {
	font-family: Trebuchet MS, "Microsoft Yahei", Arial, sans-serif;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	color: #222;
}

.recent-post .post-title h1 {
	padding: 0;
	margin: 0;
}

.recent-post .post-title:hover {
	color: #0181eb;
}

.recent-post .post-meta {
	color: #aaa;
	padding: 1rem 0;
	font-weight: bold;
}

.recent-post p {
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}

/* Sidebar area styles */
.sidebar-area {
	float: right;
	width: 30%;
	padding: 0 1em;
}

.card-area {
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
	border-radius: 2px;
	margin-bottom: 14px;
	box-shadow: 1px -1px 3px #999, -1px 1px 3px #999;
}

.card-area:hover {
	border: 3px solid #aaa;
}

.card-area .card {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	transition: all .25s ease-in-out;
}

.card, .card:link, .card:visited, .card:focus, .card:hover, .card:active {
	text-decoration: none;
}

.card-area .card-image {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	flex: 0 0 auto;
}

.card-area .card-content {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	overflow: hidden;
}

.card-content header {
	padding: 1rem .5rem;
	color: #444;
	border-bottom: 1px solid #999;
}

.card-content header h1 {
	margin: 0;
	font-size: 2.0rem;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

.card-area:hover header h1 {
	color: #aaa;
}

.card-content section {
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding: 0 0.5rem;
	color: #444;
}



@media (max-width: 980px) {

	.recent-post {
		float: none;
		width: auto;
	}

	.sidebar-area {
		float: none;
		width: auto;
		padding-top: 14px;
	}

	.card-area:first-child {
		float: left;
		width: 49%;
	}

	.card-area:last-child {
		float: right;
		width: 49%;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}

	.card-area .card-content section {
		padding-top: 1rem;
	}

}

@media (max-width: 768px) {
	.card-area:first-child {
		width: 49.5%;
	}

	.card-area:last-child {
		width: 49.5%;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}

}

@media (max-width: 600px) {
	.card-area:first-child, .card-area:last-child {
		float: none;
		width: 80%;
		margin: 0 10% 14px;
	}

	.card-area .card-content {
		padding-bottom: 50%;
	}
}

@media (max-width: 410px) {

	.card-area:first-child, .card-area:last-child {
		width: 100%;
		margin: 0 0 14px;
	}

	.card-area .card-content {
		padding-bottom: 75%;
	}
}

/* post content css */
.post-content {
	width: 100%;
	padding: 5%;
	text-align: left;
	line-height: 1.7;
	color: #222;
}

.post-content .post-title {
	font-family: Trebuchet MS, "Microsoft Yahei", Arial, sans-serif;
	text-align: center;
	font-size: 3rem;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	color: #222;
}

.post-content .post-meta {
	text-align: center;
	color: #aaa;
	padding: 1rem 0;
	font-weight: bold;
}

.post-content .post-title span {
	position: relative;
}

.post-content .post-title span:hover {
	color: #0181eb;
}

.post-content .post-title span:before {
	content: "\2993";
	position: absolute;
	left: -26px;
	top: 0;
	transition: all .5s ease-in-out 0s;
	transform: scaleX(0);
	visibility: hidden;
}

.post-content .post-title span:after {
	content: "\2994";
	position: absolute;
	top: 0;
	right: -26px;
	transition: all .5s ease-in-out 0s;
	transform: scaleX(0);
	visibility: hidden;
}

.post-content .post-title span:hover:before, .post-content .post-title span:hover:after {
	visibility: visible;
	transform: scaleX(1);
}

.post-content p {
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}
