/*
 * Setup
 */
 a,abbr,address,article,aside,audio,
 b,blockquote,body,canvas,caption,cite,
 code,dd,del,details,dfn,div,dl,dt,em,
 fieldset,figcaption,figure,footer,
 form,h1,h2,h3,h4,h5,h6,header,hgroup,
 hr,html,i,iframe,img,ins,kbd,label,
 legend,li,mark,menu,nav,object,ol,p,
 pre,q,samp,section,small,span,strong,
 sub,summary,sup,table,tbody,td,tfoot,
 th,thead,time,tr,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/*
 * Base
 */
body {
	font-family: 'PT Serif',Georgia,Times,'Times New Roman','Microsoft Yahei',serif;
	line-height: 1.5;
  background: #eee url("http://owlzone.org/assets/img/noise.png");
}

::selection {
	background-color: #add8e6;
}
a::selection {
	color: #222;
}

a {
	color: #1863a1;
	text-decoration: none;
	outline: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
a:focus,
a:hover {
	color: #0181eb;
	text-decoration: underline
}
a:active {
	color: #f05230;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
h2 {
	font-size: 1.5em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
h3 {
	font-size: 1.17em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
h4 {
	font-size: 1.12em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
h5 {
	font-size: .83em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}
h6 {
	font-size: .75em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}

li {
	list-style-type: none;
}

hr {
	border-top: 1px solid #ccc;
	margin: .5em 0;
}

p {
	margin: 1em 0;
}

blockquote {
	margin: 1em 0;
	padding: 0.5em 10px;
	font-size: 0.95em;
	background-color: #ddd;
	border-left: 5px solid #aaa;
}
blockquote p { display: inline; }

/*
 * Layout
 */
.dense {
  max-width: 980px;
  margin: 0 auto;
}
.center {
  padding-left: 16px;
  padding-right: 16px;
}


/*
 * Helpers
 */
.clear:before
.clear:after {
	content: "";
	display: table;
	clear: both;
}


/*
 * Header
 */
.header {
  position: relative;
  height: 320px;
}

@media (max-width: 768px) {
	.header {
		height: 250px;
	}
}


/* background */
.header-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.has-custom-image {
	background-image: url("http://owlzone.org/assets/img/owl-and-rat.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.opacity-mask {
    opacity: 0;
    background-color: rgb(106,141,166);
}


/* Topbar */
.header-topbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgb(106,141,166);
	z-index: 100;
}
.topbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}
.header-topbar:not(.topbar-shadow) {
	background-color: transparent !important;
}
.header-wrapper {
	position: relative;
}


/* Logo */
.logo {
	position: absolute;
	display: block;
	width: 120px;
	line-height: 1;
	padding: 10px 0;
}
.logo svg {
	fill: #fff;  /* #444444 */
	stroke: #fff;
	stroke-width: 0.15mm;
}
.logo svg:hover {
	fill: #81b2df;
	stroke: #81b2df;
}

@media (max-width: 410px) {
	.logo-responsive {
		display: none;
	}
}


/* Nav */
.header-wrapper > nav {
	height: 50px;
}
.nav-main {
	display: inline-block;
}
.nav-main-item {
	position: relative;
	float: left;
	line-height: 1.4;
	list-style-type: none;
}
.nav-main-item a {
	display: block;
	padding: 16px 10px 12px;
	font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
}
.nav-main-item:hover a {
	color: #81b2df;
}
.nav-icon {
	position: absolute;
	display: none;
	right: 16px;
	height: 50px;
}
.nav-icon > svg {
	margin: 18px 0;
}

@media (max-width: 768px) {
	.nav-main {
		position: absolute;
		top: 46px;
		right: 9px;
		z-index: 1000 !important;
		display: block;
		width: 150px;
		padding: 0 14px;
		border-radius: 2px;
		text-align: left;
		background-color: #fff;
		box-shadow: 0 1px 8px rgba(0,0,0,.2);
		transform: scale(0);
		transform-origin: top right;
		transition: transform .4s cubic-bezier(0.23,1,.32,1);
	}
	.nav-dropdown {
		transform: scale(1);
	}
	.nav-main:before {
		content: "";
		position: absolute;
		right: 9px;
		top: -6px;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
	}
	.nav-main-item {
		position: relative;
		width: 100%;
		list-style-type: none;
	}
	.nav-main-item a {
		display: inline-block;
		margin: 5px auto;
		padding: 5px 5px 5px;
		color: #21242c;
  }
  .nav-main-item:hover a { border-bottom: none; }
	.nav-icon { display: block; }
}


/* Search */
.search-field {
	position: absolute;
	top: 13px;
	right: 16px;
}
.search-field input {
	width: 150px;
	height: 24px;
	padding: 2px 6px;
	font-family: "Segoe UI", "Microsoft Yahei", Arial, sans-serif;
	color: #21242c;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	background-color: rgba(255,255,255,0.3);
	border: none;
	border-radius: 4px;
	outline: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search-field input:focus {
	width: 200px;
	background-color: #fff;
	border-color: #81b2df;
	-webkit-box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
	-moz-box-shadow: #81b2df 0 0 4px,#81b2df 0 0 3px inset;
	box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
}
.search-field input:hover {
	color: #707070;


}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.search-scope,
.search-close {
	position: absolute;
	right: 45px;
	top: 0;
	height: 50px;
}
.search-scope > svg,
.search-close > svg {
	margin: 16px 0;
}
.search-scope,
.search-close { display: none; }

@media (max-width: 768px) {
	.search-field {
    position: absolute;
    right: 70px;
    display: none;
	}
	.search-scope,
	.search-visible { display: block; }
	.search-hidden { display: none; }
}



/*
 * Footer
 */
.footer {
	position: relative; /* prevent sticky sidebar overlaying */
  height: 48px;
	text-align: center;
	font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	color: #444;
	background-color: #aaa;
}
.footer > div {
	position: relative;
}
.footer a { color: #444; }
.copyright {
	position: absolute;
	top: 16px;
	left: 16px;
}
.terms {
	position: absolute;
	top: 16px;
	right: 16px;
}
.footer .media-link {
        display: inline-block;
        height: 48px;
	padding: 0px 5px 0px;
}
.footer .media-link svg {
        position: relative;
        top: 18px;
	width: 16px;
	height: 16px;
}
.footer .github-svg:hover { fill: #FFFFFF; }
.footer .twitter-svg:hover { fill: #1DA1F2; }
.footer .email-svg:hover { fill: #DC4E41; }



/*
 * Container
 */
.container {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
@media (max-width: 620px) {
	.container {
		overflow: visible;
	}
}

/*
 * Gallery
 */
/* .img-gallery {
	position: relative;
	width: 80%;
	margin: 14px auto;
}
.img-gallery ul {
	overflow: hidden;
	display: flex;
	padding: 0;
	margin: 0 -45px;
}
.img-gallery ul li {
	position: relative;
	float: left;
	overflow: hidden;
	flex: auto;
	list-style: none;
	padding: 0;
	height: 150px;
	transition: flex .2s .1s;
}
.img-gallery ul li:hover { flex: 2.5; }
.img-gallery img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	height: 100%;
	transform: translate(-50%, 0);
} */



/* Post area */
.post-area {
	float: right;
	width: 70%;
	/* padding: 0 16px; */
	text-align: left;
	color: #222;
}
.flex-items {
	column-count: 2;
	column-gap: 0;
}
.flex-item {
	position: relative;
	break-inside: avoid;
	padding: 16px 16px 0 0;
}
@media (max-width: 980px) {
	.flex-item:nth-child(2n-1) {
		padding-left: 16px;
		padding-top: 16px;
	}
	.flex-item:nth-child(2n) {
		padding-top: 16px;
		padding-right: 16px;
	}
}
@media (max-width: 620px) {
	.flex-items {
		column-count: 1;
	}
	.flex-item {
		max-width: 100%;
		top: -10px;
		padding: 16px 16px 0;
	}
}
.post-card {
	background-color: #f8f8f8;
	padding-bottom: 10px;
}
.post-card:hover {
	background: rgba(100,100,100,.1);
	transition: .3s ease;
}
.post-image {
	display: block;
	height: 180px;
	background-position: center;
	background-size: cover;
}
.post-card:hover .post-image {
	filter: grayscale(1);
	transition: .3s ease-in 1s;
}
.post-title {
	padding: 16px 16px 0px;
	font-size: 20px;
	font-weight: 900;
}
.post-title:hover {
	color: #0181eb;
}
.post-title a {
	text-decoration: none;
}
.post-date {
	position: relative;
	padding: 0 16px;
	font-size: 13px;
	font-weight: 900;
	color: #666;
}
.post-date:before {
	content: "---";
}
.post-date:after {
	content: "---------------------------------------";
	/* left: 111px;
	border-top: 1px dashed;
	position: absolute;
	top: 10px;
	right: 16px; */
}
.post-excerpt {
	padding: 10px 16px;
}
.post-excerpt p {
	margin: 0;
}
.post-info {
	padding: 0 16px;
	height: 20px;
	line-height: 1;
}
.post-info .tag {
	display: inline-block;
	padding-right: 5px;
	height: 20px;
}
.post-info .tag svg {
	width: 20px;
}
.post-info .tag:hover,
.post-info .tag:focus {
	opacity: .5;
}
.post-info .read-more {
	float: right;
	padding: 0 5px;
	line-height: 1.5;
}
.post-info .read-more:hover,
.post-info .read-more:focus {
	background-color: rgba(50,50,50,.1);
	text-decoration: none;
}

/* Pagination */
/* .pagination {
	position: relative;
	border-top: 1px dashed #666;
	color: #666;
	line-height: 3;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.1) inset;
}
.pagination .previous {
	position: absolute;
	left: 16px;
}
.pagination .next {
	position: absolute;
	right: 16px;
}
.pagination .previous:hover,
.pagination .next:hover {
	color: #1863a1;
	text-decoration: none;
}
.pagination .previous:visited,
.pagination .next:visited {
	color: #666;
}
.page-number:before,
.page-number:after {
	content: '\2014';
	padding: 0 .3em;
} */


/* Widget area */
.widget-area {
	float: left;
	padding: 16px;
	padding-bottom: 0;
}
.widget-area .inner {
	width: 262px;
	padding: 16px;
	background: #f8f8f8;
}
@media (max-width: 980px) {
	.post-area {
		float: none;
		width: auto;
	}
	.widget-area {
		float: none;
		width: auto;
	}
	.widget-area .inner {
		width: auto;
	}
}
@media (min-width: 980px) {
	.fixed {
		position: fixed;
	}
}
.widget:not(:last-child) {
	margin-bottom: 40px;
}
.widget-title {
	margin-bottom: 6px;
	padding-bottom: 6px;
	margin-top: 12px;
	border-bottom: 1px solid #ccc;
}
.widget a {
	text-decoration: none;
}
@media (max-width: 980px) {
	.widget-title {
		text-align: center;
	}
	.widget li {
		display: inline-block;
	}
}

.post-category {
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}
.post-category ul {
	line-height: 2;
}
.post-category li {
	position: relative;
}
.post-category li:before {
	content: "";
	width: 2px;
	height: 8px;
	background-color: #D6D8DA;
	position: absolute;
	left: 9px;
	bottom: -2px;
}
.post-category li:after {
	content: "";
	width: 2px;
	height: 8px;
	background-color: #D6D8DA;
	position: absolute;
	left: 9px;
	bottom: 26px;
}
.post-category li a {
	padding-left: 10px;
}
.post-category .circle-svg {
	position: relative;
	top: 5px;
}
.post-category li:hover .svg-path {
	animation: dash .7s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.tag-cloud .tag a:hover {
	background-color: rgba(50,50,50,.1);
	transition: 0.5s ease;
}
@media (max-width: 980px) {
	.circle-svg,
	.post-category li:before,
	.post-category li:after {
		display: none;
	}
	.post-category {
		border-bottom: none;
	}
	.post-category ul,
	.tag-cloud {
		max-width: 600px;
		margin: auto;
		text-align: center;
	}
	.post-category li a {
    padding-left: 0;
	}
}

/* Post content css */
.post-content {
	max-width: 780px;
	margin: auto;
	text-align: left;
}
.post-content .post-title {
	font-size: 2em;
	text-align: center;
	color: #222;
}
.post-content .post-meta {
	text-align: center;
	color: #666;
	padding: .5em 0 0;
	font-weight: 900;
}
.post-content p {
	line-height: 1.7;
}
.post-content ul {
	padding-left: 20px;
}
.post-content ol {
	padding-left: 20px;
}
.post-content li {
	list-style-type: disc;
}



/* Archive page  */
.archive {
	max-width: 780px;
	margin: auto;
	text-align: left;
}
.archive h1 {
	font-size: 2em;
	text-align: center;
}
.archive h2 {
	margin: 25px 0 25px -20px;
	border-bottom: 1px solid #ccc;
}
.archive ul {
	margin-left: 10px;
	color: #888888;
}
.archive li {
	list-style-type: disc;
}
.archive li:hover {
	background-color: rgba(0,0,0,.03);
	transition: all .3s ease-in-out;
}
.archive li time {
	padding-right: 16px;
	font-size: 1em;
}
.archive .title {
	font-weight: bold;
	color: #666;
	transition: all 0.3s ease;
	font-size: 1.1em;
	text-decoration: none;
}
.archive .title:hover {
	color: #0181eb;
}


/* Highlighter */
.highlight {
	position: relative;
	min-width: 100%;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 20px;
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace, serif;
	font-size: 14px;
	border-radius: 4px;
	background: #eee;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	border: 1px solid rgba(0,0,0,.2);
	background-image: linear-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%, transparent);
	background-size: 3em 3em;
	background-origin: content-box;
}

.highlight[data-lang]:before {
	content: attr(data-lang);
	position: absolute;
	top: 0;
	left: 40px;
	width: 100%;
	width: calc(100% - 40px);
	padding-left: 16px;
	font-size: inherit;
	font-weight: 900;
	color: #1863a1;
	background-color: rgba(50,50,50,.1);
}
.highlight[data-lang]:after {
	content: "";
	position: absolute;
	top: -17px;
	left: 16px;
	width: 21px;
	height: 54px;
	transform: rotate(-90deg);
	background: url(http://owlzone.org/assets/img/code.svg) 0 0 no-repeat;
}
.highlight[data-lang] pre {
	overflow: auto;
}
code:not([data-lang]) {
	background: #ccc;
	padding: 3px 5px;
	border-radius: 2px;
	position: relative;
	top: -1px;
	margin: 0 3px 0 1px;
	font-size: 90%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/*
 * Syntax highlighting
 */

 .highlight .c { color: #999988; font-style: italic } /* Comment */
 .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
 .highlight .k { font-weight: bold } /* Keyword */
 .highlight .o { font-weight: bold } /* Operator */
 .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
 .highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
 .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
 .highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
 .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
 .highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
 .highlight .ge { font-style: italic } /* Generic.Emph */
 .highlight .gr { color: #aa0000 } /* Generic.Error */
 .highlight .gh { color: #999999 } /* Generic.Heading */
 .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
 .highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
 .highlight .go { color: #888888 } /* Generic.Output */
 .highlight .gp { color: #555555 } /* Generic.Prompt */
 .highlight .gs { font-weight: bold } /* Generic.Strong */
 .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
 .highlight .gt { color: #aa0000 } /* Generic.Traceback */
 .highlight .kc { font-weight: bold } /* Keyword.Constant */
 .highlight .kd { font-weight: bold } /* Keyword.Declaration */
 .highlight .kp { font-weight: bold } /* Keyword.Pseudo */
 .highlight .kr { font-weight: bold } /* Keyword.Reserved */
 .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
 .highlight .m { color: #009999 } /* Literal.Number */
 .highlight .s { color: #d14 } /* Literal.String */
 .highlight .na { color: #008080 } /* Name.Attribute */
 .highlight .nb { color: #0086B3 } /* Name.Builtin */
 .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
 .highlight .no { color: #008080 } /* Name.Constant */
 .highlight .ni { color: #800080 } /* Name.Entity */
 .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
 .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
 .highlight .nn { color: #555555 } /* Name.Namespace */
 .highlight .nt { color: #000080 } /* Name.Tag */
 .highlight .nv { color: #008080 } /* Name.Variable */
 .highlight .ow { font-weight: bold } /* Operator.Word */
 .highlight .w { color: #bbbbbb } /* Text.Whitespace */
 .highlight .mf { color: #009999 } /* Literal.Number.Float */
 .highlight .mh { color: #009999 } /* Literal.Number.Hex */
 .highlight .mi { color: #009999 } /* Literal.Number.Integer */
 .highlight .mo { color: #009999 } /* Literal.Number.Oct */
 .highlight .sb { color: #d14 } /* Literal.String.Backtick */
 .highlight .sc { color: #d14 } /* Literal.String.Char */
 .highlight .sd { color: #d14 } /* Literal.String.Doc */
 .highlight .s2 { color: #d14 } /* Literal.String.Double */
 .highlight .se { color: #d14 } /* Literal.String.Escape */
 .highlight .sh { color: #d14 } /* Literal.String.Heredoc */
 .highlight .si { color: #d14 } /* Literal.String.Interpol */
 .highlight .sx { color: #d14 } /* Literal.String.Other */
 .highlight .sr { color: #009926 } /* Literal.String.Regex */
 .highlight .s1 { color: #d14 } /* Literal.String.Single */
 .highlight .ss { color: #990073 } /* Literal.String.Symbol */
 .highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
 .highlight .vc { color: #008080 } /* Name.Variable.Class */
 .highlight .vg { color: #008080 } /* Name.Variable.Global */
 .highlight .vi { color: #008080 } /* Name.Variable.Instance */
 .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
