<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>
{% include header.html %}

<main id="main-container">

	<section id="content" class="post-content">
		<article>
			<h1 class="post-title"><span>{{ page.title }}</span></h1>
			<div class="post-meta">
				<time>{{ site.time | date_to_string }}</time>
			</div>

			{{ content }}

		</article>
	</section>	<!-- End of post-content -->

</main>	<!-- End of Main -->
	{% include footer.html %}

	{% include scripts.html %}
</body>
</html>
