<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>
	<header class="header"  role="navigation">
		{% if post.image %}
		<div class="header-background has-custom-image" style="background-image: url('{{ page.image }}')"></div>
		<!-- {% else %}
		<div class="header-background has-custom-image"></div> -->
		{% endif %}
		{% include header.var.html %}
	</header>

	<main class="container">

		<section class="post-content center">
			<article>
				<h1 class="post-title">{{ page.title }}</h1>
				<div class="post-meta">
					<time>{{ site.time | date_to_string }}</time>
				</div>

				{{ content }}

			</article>
		</section>

	</main>

{% include footer.html %}

{% include scripts.html %}
</body>
</html>