<!doctype html>
<html>
<head>
    {% include head.html %}
</head>
<body>
<div id="wrapper">
  {% include header.html %}

<main id="main-container">

    <div class="pt-gallery clearfix">
		<ul>
			<li><a href="#"><img class="gallery-pt" src="images/1.jpg"></a></li>
			<li><a href="#"><img class="gallery-pt" src="images/2.jpg"></a></li>
			<li><a href="#"><img class="gallery-pt" src="images/3.jpg"></a></li>
			<li><a href="#"><img class="gallery-pt" src="images/4.jpg"></a></li>
			<li class="xs-hidden"><a href="#"><img class="gallery-pt" src="images/5.jpg"></a></li>
			<li class="xs-hidden sm-hidden"><a href="#"><img class="gallery-pt" src="images/6.png"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/7.jpg"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/8.jpg"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/9.jpg"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/10.jpg"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/11.jpg"></a></li>
			<li class="xs-hidden sm-hidden md-hidden"><a href="#"><img class="gallery-pt" src="images/12.jpg"></a></li>
		</ul>
	</div> <!-- End of Gallery -->

	<section class="recent-post">
		<article>
			<a  class="post-title" href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
			<div class="post-meta">
				<time>{{ site.time | date_to_string }}</time>
			</div>

			{{ content }}

		</article>
	</section>	<!-- End of Recent-post -->

		<aside class="sidebar-area">

		<article class="card-area">
			<a href="#" class="card">
				<div class="card-image" style="background-image: url(images/2.jpeg)"></div>
				<div class="card-content">

					<header class="card-title">
						<h1>Lorem ipsum dolor sit</h1>
					</header>

					<section class="card-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam exercitationem omnis eaque, ut officiis sint eligendi mollitia, in saepe!</p>
					</section>
				</div>
			</a>
		</article>

		<article class="card-area">
			<a href="#" class="card">
				<div class="card-image" style="background-image: url(images/1.jpg)"></div>
				<div class="card-content">
					
					<header class="card-title">
						<h1>Lorem ipsum dolor sit.</h1>
					</header>

					<section class="card-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam exercitationem omnis eaque, ut officiis sint eligendi mollitia, in saepe!</p>
					</section>
				</div>
			</a>
		</article>

	</aside> <!-- End of Sidebar -->
	
</main>	<!-- End of Main -->
	{% include footer.html %}
</div>
	{% include scripts.html %}
</body>
</html>
