<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>


{% include header.html %}


<main id="main-container" role="main">

{% include gallery.html %}

	<section id="content" class="recent-post">
		<article>
			<a  class="post-title" href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
			<div class="post-meta">
				<time>{{ site.time | date_to_string }}</time>
			</div>

			{{ content }}

		</article>
	</section>

	{% include aside.html %}

</main>


{% include footer.html %}


{% include scripts.html %}
</body>
</html>