/*
 * Setup
 */
* {
  margin: 0;
  padding: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
*, *:before, *:after {
  box-sizing: border-box;
}

/*
 * Hacks
 */
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .opacity-overlay {
    cursor: pointer;
  }
}



/*
 * Base
 */
html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Menlo,Monaco,"Droid Sans","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif;
  line-height: 1.5;
  background: #e8e8e8;
}

::selection {
  background-color: #add8e6;
}
a::selection {
  color: #222;
}

a {
  color: #1863a1;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
a:focus,
a:hover {
  color: #0181eb;
  text-decoration: underline;
}
a:active {
  color: #f05230;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 1.12em }
h5 { font-size: 1em }
h6 { font-size: .9em }

li {
  list-style-type: none;
}

hr {
  border-top: 1px solid #ccc;
  margin: .5em 0;
}

p {
  margin: 1em 0;
}

blockquote {
  margin: 1em 0;
  padding: 0.5em 10px;
  font-size: 0.95em;
  background-color: #ddd;
  border-left: 5px solid #aaa;
}
blockquote p { display: inline; }

code {
  font-family: Menlo,Monaco,"Droid Sans","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif;
}

/*
 * Layout
 */
.dense {
  max-width: 980px;
  margin: 0 auto;
}
.center {
  padding-left: 16px;
  padding-right: 16px;
}


/*
 * Helpers
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

/*
 * Header
 */
#header {
  position: relative;
  height: 250px;
}
@media (min-width: 768px) {
  #header {
    height: 320px;
  }
}

/* background */
.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-image {
  background-color: rgb(106,141,166); /* fallback Color */
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.webp .hero-image {
  background-image: url("/assets/img/owl-and-rat.webp");
}
.no-webp .hero-image {
  background-image: url("/assets/img/owl-and-rat.jpg");
}
.opacity-mask {
  opacity: 0;
  background-color: rgb(106,141,166);
}


/* Topbar */
.header-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgb(106,141,166);
  z-index: 100;
}
.header-topbar:not(.topbar-shadow) {
  background-color: transparent !important;
}
.topbar-shadow {
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}
.header-wrapper {
  position: relative;
}


/* Logo */
.logo {
  position: absolute;
  display: block;
  width: 120px;
  padding: 10px 0;
}
.logo svg {
  display: block;
  fill: #fff;  /* #444444 */
  stroke: #fff;
  stroke-width: 0.15mm;
}
.logo svg:hover {
  fill: #81b2df;
  stroke: #81b2df;
}
.logo-responsive {
  display: none;
}
@media (min-width: 410px) {
  .logo-responsive {
    display: block;
  }
}


/* Nav */
.header-wrapper > nav {
  height: 50px;
}
.nav-main {
  display: inline-block;
}
.nav-main-item {
  position: relative;
  float: left;
  line-height: 1.4;
  list-style-type: none;
}
.nav-main-item a {
  display: block;
  padding: 16px 10px 12px;
  font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-main-item:hover a {
    color: #81b2df;
  }
}
.nav-icon {
  position: absolute;
  display: none;
  right: 16px;
  height: 50px;
}
.nav-icon > svg {
  margin: 18px 0;
}

@media (max-width: 768px) {
  .nav-main {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -100px;
    width: 100px;
    z-index: -1 !important;
    color: #fff;
    transition: all ease-in .4s;
    overflow: hidden;
  }
  .nav-dropdown {
    right: 0;
  }
  .nav-main-item {
    position: relative;
    width: 100%;
    list-style-type: none;
    text-align: left;
    margin: 5px 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-main-item a {
    display: inline-block;
    padding: 10px;
    color: #fff;
  }
  .nav-main-item:nth-child(1) {
    background-color: #4caf50;
  }
  .nav-main-item:nth-child(2) {
    background-color: #2196f3;
  }
  .nav-main-item:nth-child(3) {
    background-color: #f44336;
  }
  .nav-main-item:nth-child(4) {
    background-color: #555555;
  }
  .nav-icon { display: block; }
}


/* Search */
.search-field {
  position: absolute;
  top: 13px;
  right: 16px;
}
.search-field fieldset {
  border: none;
}
.search-field input {
  width: 150px;
  height: 24px;
  padding: 2px 6px;
  font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #21242c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  background-color: rgba(255,255,255,0.3);
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.search-field input:focus {
  width: 200px;
  background-color: #fff;
  border-color: #81b2df;
  -webkit-box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
  -moz-box-shadow: #81b2df 0 0 4px,#81b2df 0 0 3px inset;
  box-shadow: #81b2df 0 0 4px, #81b2df 0 0 3px inset;
}
.search-field input:hover {
  color: #707070;
}
.search-field input::-ms-input-placeholder {
  color: #fff;
  font-weight: 600;
}
::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 14px;
}
@media (max-width: 768px) {
  .search-field input {
    font-size: 16px; /* Aviod auto-zooming in mobile browser */
  }
}
.search-scope,
.search-close {
  position: absolute;
  right: 45px;
  top: 0;
  height: 50px;
}
.search-scope > svg,
.search-close > svg {
  margin: 16px 0;
}
.search-scope,
.search-close { display: none; }

@media (max-width: 768px) {
  .search-field {
    position: absolute;
    right: 70px;
    display: none;
  }
  .search-scope,
  .search-visible { display: block; }
  .search-hidden { display: none; }
}

/* opacity-overlay */
.opacity-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -2;
    transition: opacity .5s;
}
.overlay-display {
  background: rgba(50,50,50,.5);
  opacity: .5;
  display: block;
  transition: opacity .3s .3s;
}
.overlay-finale {
    opacity: 1;
}


/*
 * Footer
 */
#footer {
  position: relative; /* prevent sticky sidebar overlaying */
  height: 48px;
  text-align: center;
  font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #111;
  background-color: #aaa;
}
#footer > div {
  position: relative;
}
#footer a { color: #111; }
.copyright {
  position: absolute;
  top: 16px;
  left: 16px;
}
.terms {
  position: absolute;
  top: 16px;
  right: 16px;
}
#footer .social-link {
  display: inline-block;
  height: 48px;
  padding: 0px 5px 0px;
}
#footer .social-link svg {
  position: relative;
  top: 18px;
  width: 16px;
  height: 16px;
}
#footer .github-svg:hover { fill: #FFFFFF; }
#footer .twitter-svg:hover { fill: #1DA1F2; }
#footer .email-svg:hover { fill: #DC4E41; }



/*
 * Container
 */
#content {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}

/* Post area */
.post-area {
  float: right;
  width: 70%;
  text-align: left;
  color: #222;
}
.flex-items {
  column-count: 2;
  column-gap: 0;
}
.flex-item {
  position: relative;
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 16px 16px 0 0;
}
@media (min-width: 620px) and (max-width: 980px) {
  .flex-item {
    padding: 16px 8px 0 8px;
  }
}
@media (max-width: 620px) {
  .flex-items {
    column-count: 1;
  }
  .flex-item {
    max-width: 100%;
    top: -10px;
    padding: 16px 16px 0;
  }
}
.post-card {
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 4px;
  transition: all .3s;
}
.post-card:hover {
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 6px 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.3), 0 3px 0 rgba(0,0,0,.2), 0 5px 0 rgba(0,0,0,.25), 0 7px 7px rgba(0,0,0,.1), 0 8px 7px rgba(0,0,0,.1), 0 9px 9px rgba(0,0,0,.1), 0 10px 10px rgba(0,0,0,.15), 0 15px 15px rgba(0,0,0,.16);
}
.post-image {
  display: block;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.post-title {
  padding: 10px 16px 0px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: .015em;
}
.has-top-border {
  border-radius: 4px;
  border-top-width: 4px;
  border-top-style: solid;
}
.post-title a {
  text-decoration: none;
}
.post-date {
  position: relative;
  padding: 0 16px;
  font-size: 13px;
  font-weight: 900;
  color: #666;
}
.post-date:after {
  content: "";
  left: 115px;
  border-top: 1px dashed;
  position: absolute;
  top: 10px;
  right: 16px;
}
.post-excerpt {
  padding: 10px 16px;
}
.post-excerpt p {
  margin: 0;
}
.post-info {
  padding: 0 16px;
  height: 20px;
  line-height: 1;
}
.post-info .tag {
  display: inline-block;
  padding-right: 5px;
  height: 20px;
}
.post-info .tag svg {
  width: 20px;
}
.post-info .tag:hover,
.post-info .tag:focus {
  opacity: .5;
}
.post-info .read-more {
  float: right;
  padding: 0 5px;
  line-height: 1.5;
}
.post-info .read-more:hover,
.post-info .read-more:focus {
  background-color: rgba(50,50,50,.1);
  text-decoration: none;
}



/* Widget area */
.widget-area {
  float: left;
  padding: 16px;
  padding-bottom: 0;
}
.widget-banner {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 3px solid #7ab7bf;
}
.widget-tab {
  position: relative;
  float: left;
  padding: 5px 0 1px 0;
  width: 50%;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
}
.widget-tab.active {
  background: #7ab7bf;
}
.widget-tab:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 40px;
}
.widget-tab:last-child {
  border-top-left-radius: 40px;
  border-top-right-radius: 4px;
}
.widget-area .widget-content {
  width: 262px;
  padding: 16px;
  background: #fff;
  border-radius: 4px;
}
@media (max-width: 980px) {
  .post-area {
    float: none;
    width: auto;
  }
  .widget-area {
    float: none;
    width: auto;
  }
  .widget-area .widget-content {
    width: auto;
  }
}
@media (min-width: 980px) {
  .fixed {
    position: fixed;
  }
}
.widget a {
  text-decoration: none;
}
@media (max-width: 980px) {
  .widget li {
    display: inline-block;
  }
}

.post-category {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.post-category ul {
  line-height: 2;
}
.post-category li {
  position: relative;
}
.post-category li:before {
  content: "";
  width: 2px;
  height: 8px;
  background-color: #D6D8DA;
  position: absolute;
  left: 9px;
  bottom: -2px;
}
.post-category li:after {
  content: "";
  width: 2px;
  height: 8px;
  background-color: #D6D8DA;
  position: absolute;
  left: 9px;
  bottom: 26px;
}
.post-category li a {
  padding-left: 10px;
}
.post-category .circle-svg {
  position: relative;
  top: 5px;
}
.post-category li:hover .svg-path {
  animation: dash .7s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.tag-cloud .tag a {
  color: #000;
}
.tag-cloud .tag a:hover {
  background-color: rgba(50,50,50,.1);
  transition: 0.5s ease;
}
@media (max-width: 980px) {
  .circle-svg,
  .post-category li:before,
  .post-category li:after {
    display: none;
  }
  .post-category {
    border: none;
    padding: 0;
  }
  .post-category ul,
  .tag-cloud {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  .post-category li a {
    padding-left: 0;
  }
}

/* Post content css */
.post-content {
  max-width: 780px;
  margin: auto;
  text-align: left;
}
.post-content .post-title {
  padding-top: 0;
  font-size: 1.5em;
  text-align: center;
  color: #222;
}
@media (min-width: 768px) {
  .post-content .post-title {
    font-size: 2em;
  }
}
.post-content .post-meta {
  text-align: center;
  color: #666;
  padding: .5em 0 0;
  font-weight: 900;
}
.post-content p {
  line-height: 1.7;
}
.post-content ul {
  padding-left: 20px;
}
.post-content ol {
  padding-left: 20px;
}
.post-content li {
  list-style-type: disc;
}



/* Archive page  */
.archive {
  max-width: 780px;
  margin: auto;
  text-align: left;
}
.archive h1 {
  font-size: 2em;
  text-align: center;
}
.archive-list {
  margin-left: 10px;
  padding-bottom: 25px;
  color: #666;
}
.archive-list h2 {
  margin: 25px 0 0 -20px;
  border-bottom: 1px solid #ccc;
}
.archive-list li {
  list-style-type: disc;
}
.archive-list li time {
  float: right;
  font-size: .85em;
}
.archive-list .title {
  color: #666;
  font-size: 1em;
  text-decoration: none;
}
@media (min-width: 768px) {
  .archive-list li:hover {
    background-color: rgba(0,0,0,.03);
  }
  .archive-list .title {
    font-size: 1.1em;
  }
  .archive-list li time {
    font-size: 1em;
  }
}


/* Highlighter */
div.highlight {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 20px;
  margin: 1em 0;
  font-family: Menlo,Monaco,"Droid Sans","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  background: #eee;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  background-origin: content-box;
  background-image: linear-gradient(rgba(255, 255, 255, .4) 50%, transparent 50%, transparent);
  background-size: 38px 38px;
}

div.highlight[data-lang]:before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  left: 40px;
  width: 100%;
  width: calc(100% - 40px);
  padding-left: 16px;
  font-size: inherit;
  font-weight: 900;
  color: #1863a1;
  background-color: rgba(50,50,50,.1);
}
div.highlight[data-lang]:after {
  content: "";
  position: absolute;
  top: -17px;
  left: 16px;
  width: 21px;
  height: 54px;
  transform: rotate(-90deg);
  background: url("{{ site.baseurl }}/assets/img/code.svg") 0 0 no-repeat;
}
div.highlight[data-lang] pre {
  overflow: auto;
  font-size: 12px;
}
code[data-lang="highlight-plaintext"] {
  background: #ccc;
  padding: 3px 5px;
  border-radius: 2px;
  position: relative;
  top: -1px;
  margin: 0 3px 0 1px;
  font-size: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/*
 * Syntax highlighting
 */

 .highlight .c { color: #999988; font-style: italic } /* Comment */
 .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
 .highlight .k { font-weight: bold } /* Keyword */
 .highlight .o { font-weight: bold } /* Operator */
 .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
 .highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
 .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
 .highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
 .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
 .highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
 .highlight .ge { font-style: italic } /* Generic.Emph */
 .highlight .gr { color: #aa0000 } /* Generic.Error */
 .highlight .gh { color: #999999 } /* Generic.Heading */
 .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
 .highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
 .highlight .go { color: #888888 } /* Generic.Output */
 .highlight .gp { color: #555555 } /* Generic.Prompt */
 .highlight .gs { font-weight: bold } /* Generic.Strong */
 .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
 .highlight .gt { color: #aa0000 } /* Generic.Traceback */
 .highlight .kc { font-weight: bold } /* Keyword.Constant */
 .highlight .kd { font-weight: bold } /* Keyword.Declaration */
 .highlight .kp { font-weight: bold } /* Keyword.Pseudo */
 .highlight .kr { font-weight: bold } /* Keyword.Reserved */
 .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
 .highlight .m { color: #009999 } /* Literal.Number */
 .highlight .s { color: #d14 } /* Literal.String */
 .highlight .na { color: #008080 } /* Name.Attribute */
 .highlight .nb { color: #0086B3 } /* Name.Builtin */
 .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
 .highlight .no { color: #008080 } /* Name.Constant */
 .highlight .ni { color: #800080 } /* Name.Entity */
 .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
 .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
 .highlight .nn { color: #555555 } /* Name.Namespace */
 .highlight .nt { color: #000080 } /* Name.Tag */
 .highlight .nv { color: #008080 } /* Name.Variable */
 .highlight .ow { font-weight: bold } /* Operator.Word */
 .highlight .w { color: #bbbbbb } /* Text.Whitespace */
 .highlight .mf { color: #009999 } /* Literal.Number.Float */
 .highlight .mh { color: #009999 } /* Literal.Number.Hex */
 .highlight .mi { color: #009999 } /* Literal.Number.Integer */
 .highlight .mo { color: #009999 } /* Literal.Number.Oct */
 .highlight .sb { color: #d14 } /* Literal.String.Backtick */
 .highlight .sc { color: #d14 } /* Literal.String.Char */
 .highlight .sd { color: #d14 } /* Literal.String.Doc */
 .highlight .s2 { color: #d14 } /* Literal.String.Double */
 .highlight .se { color: #d14 } /* Literal.String.Escape */
 .highlight .sh { color: #d14 } /* Literal.String.Heredoc */
 .highlight .si { color: #d14 } /* Literal.String.Interpol */
 .highlight .sx { color: #d14 } /* Literal.String.Other */
 .highlight .sr { color: #009926 } /* Literal.String.Regex */
 .highlight .s1 { color: #d14 } /* Literal.String.Single */
 .highlight .ss { color: #990073 } /* Literal.String.Symbol */
 .highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
 .highlight .vc { color: #008080 } /* Name.Variable.Class */
 .highlight .vg { color: #008080 } /* Name.Variable.Global */
 .highlight .vi { color: #008080 } /* Name.Variable.Instance */
 .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
