#page-banner {
	border-bottom: 1px solid #eee;
}

#header-logo {
	float: left;
}

.page-nav ul {
	overflow: hidden;
	padding-left: 20%;
}

.page-nav li {
	float:left;
	list-style-type: none;
}

.page-nav a {
	display: block;
	padding: 1.2em 8px;
	text-decoration: none;
	color: #535a60;
}

.page-nav li + li a {
	/*border-left: 1px solid #555;*/
}

.page-nav a:hover {
	border-bottom: 2px solid #76a005;
}